	 <table align="center" height="590" >
	     		<tr>
		     		<td>
		     		   消息<!--<a href='#' ></a> onclick="view()" -->
		     		</td>
	     		</tr>
	     		<tr>
		     		<td>
		     			<% if(loginbean.role==1){ %>	     			
		     			 <a href="#" onclick="renzheng()">身份认证</a>
		     			 <% } else if(loginbean.role==2){ %>
		     			 身份认证中 
		     			 <% } else if(loginbean.role==3){ %>
		     			 &nbsp;
		     		 <a href="/home/pubShop" >发布租赁位置</a>
		     		 <% } else if(loginbean.role==4){ %>
		     		 <a href="/home/shopmanage">管理营业点</a>
		     		 <%}%>
	     		  </td>
	     		</tr>
	     		  <tr>
		     		  <td>
		     		   成为出租方
		     		    </td>
	     		 </tr> 
	     	</table> 