 <% include ../head %>
   <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
   <script src="http://webapi.amap.com/maps?v=1.3&key=ebb3310e602e7027987911af5e30be56&&plugin=AMap.Scale,AMap.OverView,AMap.ToolBar"></script>

<style>
	#myform input{
		margin-top: 6px;
	}
	#myform textarea{
		margin-top: 6px;
	} 
	#myform label{
		margin-top: 6px;
	}
	#myform select{
		margin-top: 6px;
	}
</style>
<script>
//当店铺的信息其中有一项为空，函数就会返回false ,阻止提交。
//否则，返回true ,按钮提交，数据打包，放到服务端。
	function onSubPub(){     //同步操作
		if(pubform.shopname.value==''){
			alert('营业点名称不允许为空');
			pubform.shopname.focus();
			return false;
		}
		if(pubform.shopintr.value==''){
			alert('营业点简介不允许为空');
			pubform.shopintr.focus();
			return false;
		}
		if(pubform.shoptype.value=='0'){
			alert('请选择营业类别');
			pubform.shoptype.focus();
			return false;
		}  //focus 聚焦  哪一个文本框没有被填写 就会alert弹框警告
		return true;
	}
</script>

  <div class="row"><!-- 跨行 -->
	     <div class="col-sm-1"></div>
	     <div class="col-sm-2" style="background-color:#FFCC66; border-radius:15px;">
	     	<% include left %>
	     </div>
	     <div class="col-sm-8" id="main" style="float: left;">
	     <div id="toolbar" style="font-size: 1.5em">找到地图中准确位置，点击建立营业点
	     <button type="button" class="btn btn-primary" style="margin-left: 200px;">修改
	     </button>

	     </div>
	     <div id="mapContainer" style="margin-top: 20px;margin-left: 12px;width: 100%;height: 540px;"></div>
	     <div class="col-sm-1"></div>
	     <script>
   			 //初始化地图对象，加载地图
   		 var map = new AMap.Map('mapContainer', {
			view: new AMap.View2D({
			center: new AMap.LngLat(116.397428, 39.90923),
			zoom: 18
    })
	 });		
   		 AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
      function(){
        map.addControl(new AMap.ToolBar());

        map.addControl(new AMap.Scale());

        map.addControl(new AMap.OverView({isOpen:true}));
});
		function eventHandler(e){
		//alert(e.lng);
		$('#myModal').modal('show');
		pubform.lng.value=e.lnglat.getLng();
		pubform.lat.value=e.lnglat.getLat();
		

		//$('#point').val(evt.lnglat);
	}
	var listener = AMap.event.addListener(map,"click",eventHandler);
	//事件监听							//事件监听只能使用click
	function dian(){
		var marker = new AMap.Marker({                 
		  map:map,                 
		  position:evt.lnglat,  
		  title:$('#name').val(),
		  icon:"http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",//图标
		  offset:new AMap.Pixel(-10, -20)
	   }); 
		marker.setMap(map);
		marker.setLabel({   //设置标注 设置在地图上
	        offset: new AMap.Pixel(-10, -20),
	        content: $('#jie').val()
	    });

	    $.post('/home/mapmsg', $('#mapMsgForm').serialize(), function(rehtml) {
		if(rehtml == 1) {				  //将文本转换为对象
				alert('提交成功');
				$('#myModal').modal('hide');
			} else {
				alert('提交失败');
			}
		});//ajax提交    ajax 里面的方法是异步方式

		return false;		
	   // 在执行ajax时，async默认的默认值为true,这种情况为异步方式，就是说ajax发送请求后，在等待服务端返回的这个过程中，前台会继续执行ajax块后面的脚本，直到服务端返回正确的结果才会执行success,也就是说这时执行的是两个线程，一个线程在执行ajax时另一个进程已经执行return flat了。所以一直返回false.把async改为false，这时才是同步方式，只有一个线程。
	}   
	
    </script>
<!-- <form id="mapMsgForm" method="post"> -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			<form name="pubform" method="post" action="/home/pubshop"  onsubmit="return onSubPub();" enctype="multipart/form-data">										
			<!-- multipart/form-data  二进制表单 传图片的 -->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							填写营业点信息
						</h4>
					</div>
					<div class="modal-body">
						<!-- 名称：<input type="text" id="name"  name="shopname" />
							&nbsp;<br><br>
						简介：<input type="text" id="jie" name="content" />
						      <br><br>
						经纬度:<input type="text" id="point" name="point" /> -->
						<div class="form-group" id="myform">
					    <input type="text" class="form-control" name="shopname" placeholder="请输入营业点名称">
					    
					    <textarea class="form-control" name="shopintr" rows="5" placeholder="请输入营业简介"></textarea>
					    <input type="text" class="form-control" name="keywords" placeholder="请输入查询关键词">
				       <select class="form-control" name="shoptype" id="shoptype">
					      <option value="0">请选择经营类别</option>  <!-- 下拉框 -->
					     <% shoptypeRs.forEach(function(row){ %>   <!-- 结果遍历 -->
					      <option value="<%-row.id%>"><%-row.typename%></option>
					      <% }) %>  <!-- 根据id 获得类型 -->
					    </select>
					    <label for="lastname" class="col-sm-2 control-label">店铺图片</label>
					    <input type="file" id="inputfile" name="photourl">
					    <input type="hidden" name="lng"><!-- 隐藏域  存放经纬度 -->
					    <input type="hidden" name="lat">
					  </div>
					</div>
					<div class="modal-footer" style="text-align: center;">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="submit" class="btn btn-primary" onclick='dian();'>
							提交
						</button>
					</div>
				</div><!-- /.modal-content -->
				</form>
			</div><!-- /.modal -->
		</div>
		<!-- </form> -->
</body>
</html>